<html lang="en">
  <head>
    <title>Welcome</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-sm-8">
          <h3>Welcome</h3>
          <img
            src="https://www.freepik.com/free-photo/beautiful-countryside-road-greenery-forests_8507102.htm#query=nature&position=5&from_view=keyword&track=sph&uuid=88c334d4-e2b5-4a61-8a5e-d8d45e732def"
          />

          <a href="/login.html" class="btn btn-dark mt-3">Login</a>
        </div>
      </div>
    </div>
  </body>
</html>
