<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title>Registration Form</title>
    <link rel="stylesheet" href="/static/styl2.css" />
	
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
</html>



<body>

<div class="wrapper">
	<div class="r_form_wrap">
		
		<div class="title">
			<p>Registration Form</p>
		</div>

		<div class="r_form">
			<form action="/register.html" method="POST">
				<div class="input_wrap">
					<label for="name">Name</label>
					<div class="input_item">
						<span class="icon">
							<ion-icon name="person-sharp"></ion-icon>
						</span>
						<input type="text" name="name" class="input" id="name">
					</div>
				</div>
				<div class="input_wrap">
					<label for="email">Email Address</label>
					<div class="input_item">
						<span class="icon">
							<ion-icon name="mail-sharp"></ion-icon>
						</span>
						<input type="text" name="email" class="input" id="email">
					</div>
				</div>
				<div class="input_wrap">
					<label for="password">Password</label>
					<div class="input_item">
						<span class="icon">
							<ion-icon name="key-sharp"></ion-icon>
						</span>
						<input type="password" name="password" class="input" id="password">
					</div>
				</div>
				<div class="input_wrap">
					<label for="confirmpassword">Confirm Password</label>
					<div class="input_item">
						<span class="icon">
							<ion-icon name="key-sharp"></ion-icon>
						</span>
						<input type="password" name="confirmpassword" class="input" id="confirmpassword">
					</div>
				</div>
				<div class="input_wrap">
					<label for="phone">Phone</label>
					<div class="input_item">
						<span class="icon">
							<ion-icon name="call-sharp"></ion-icon>
						</span>
						<input type="tel" name="phone" class="input" id="phone">
					</div>
				</div>
				<div class="input_wrap">
					
				</div>
				<button type="submit" class="btn btn-dark">Submit</button>

				<!--<button type="submit" method="post" >Register Now</button> -->
		
			</form>
		</div>

	</div>
</div>

</body>
</html>